################################################################################
# Ignore IDE files
################################################################################
.buildpath
.cache
.project
.metadata
.settings
*~
